.control-btn {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.control-btn button {
    box-shadow: 0 5px 0 black;
}

.control-btn button > span {
    font-weight: 600;
    font-size: 24px;
}

.control-btn button:first-child {
    border-radius: 10px;
    width: 180px;
    height: 60px;
}

.control-btn button:nth-child(2),
.control-btn button:last-child {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
